{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript">

        window.setInterval(
                function () {
                    $.ajax({
                        url: '/users/update_seeds',
                        method: 'GET',
                        success: function (result) {
                            for(var i = 0; i < result.new_seeds.length; i++) {
                                if ($("#" + result.new_seeds[i]._id).length == 0) {
                                    $("#result").prepend('<h3 id="' + result.new_seeds[i]._id + '">' + result.new_seeds[i].title + '</h3>');
                                }
                            }
                        },
                        error: function () {
// You can do something here, but it may not be necessary
                        }
                    });
                },
                1000);
    </script>

    <div class="page-header">
        <h1>Activities from your friends' circle</h1>
    </div>
    <div id="result">
        {% for seed in seeds %}
            {% if seed.time - user.created_time > standard and seed.private == "public" %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{ seed.title }}
                            <small>published at {{ seed.time.strftime('%d-%m-%Y at %H:%M') }}
                                from {{ user.username }}</small>
                        </h3>
                        <p>{{ seed.content }}</p>
                        {% if seed.image %}
                            <img src="{{ url_for('static', filename = 'uploads/'+user.username+'/'+seed.image) }}"
                                 width="300px"
                                 height="195px">
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}