{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">

  setInterval(
  function()
  {
    $.ajax({
url: '/users/update_seeds',
method: 'GET',
success: function() {
{% for seed in seed %}
$("#result").prepend('<h3>{{ seed.title }}</h3>');
{% endfor %}
},
error: function() {
// You can do something here, but it may not be necessary
}
});
  },
  1000);
</script>

<div class="page-header">
    <h1>Activities from your friends' circle</h1>
</div>
<div id="result">
{% for seeds in seeds %}
{% if seeds.time - user.created_time > standard and seeds.private == "public" : %}

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>{{ seeds.title }}
                <small>published at {{ seeds.time.strftime('%d-%m-%Y at %H:%M') }} from {{ user.username }}</small>
            </h3>
            <p>{{ seeds.content }}</p>
            {% if seeds.image %}
           <img src="{{ url_for('static', filename = 'uploads/'+user.username+'/'+seeds.image) }}" width="300px"
                 height="195px">
            {% endif %}
        </div>
    </div>

{% endif %}
{% endfor %}
</div>
{% endblock %}