{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
</div>
<p><a href="{{ url_for('users.delete_friend', username=user.username) }}" class="btn btn-danger" role="button">Delete Friend</a></p>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ user.email }}</p>
        {% if user.image %}
        <img src="{{ url_for('static', filename = 'uploads/'+user.image) }}" width="100px"
             height="65px">
        {% endif %}
    </div>
</div>
<h2>{{ user.username }}'s Seeds</h2>
{% for seeds in seeds %}
{% if seeds.private == "public" %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>{{ seeds.title }}
            <small>published at {{ seeds.time.strftime('%d-%m-%Y at %H:%M') }}</small>
        </h3>
        <p>{{ seeds.content }}</p>
        {% if seeds.image %}
        <img src="{{ url_for('static', filename = 'uploads/'+user.username+'/'+seeds.image) }}" width="300px"
             height="195px">
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}